In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
bureau = pd.read_csv('bureau.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')

In [8]:
bureau.shape

(1716428, 17)

In [10]:
bureau_balance.shape

(27299925, 3)

In [3]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [4]:
label_encoder = preprocessing.LabelEncoder()

In [5]:
cleanup_nums = {"STATUS":{"C": 0, "X": -1, "0": 0,"1": 1,"2":2,"3":3,"4":4,"5":5}}

In [6]:
bureau_balance.replace(cleanup_nums, inplace=True)
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE  STATUS
0       5715448               0       0
1       5715448              -1       0
2       5715448              -2       0
3       5715448              -3       0
4       5715448              -4       0

In [20]:
bureau_balance['STATUS'].unique()

array([ 0, -1,  1,  2,  3,  5,  4], dtype=int64)

In [21]:
bureau_balance_done=pd.DataFrameFrame()

In [24]:
bureau_balance_done1=bureau_balance.groupby(by='SK_ID_BUREAU')['STATUS'].max()

In [32]:
bureau_balance_done2=pd.DataFrame(bureau_balance.groupby(by='SK_ID_BUREAU')['MONTHS_BALANCE'].max())

In [29]:
bureau_balance_done2.head()

SK_ID_BUREAU
5001709    0
5001710    0
5001711    0
5001712    0
5001713    0
Name: MONTHS_BALANCE, dtype: int64

In [33]:
bureau_balance_done=pd.DataFrame(bureau_balance_done1)
bureau_balance_done['MONTHS_BALANCE']=bureau_balance_done2.loc[:,'MONTHS_BALANCE']

In [34]:
bureau_balance_done

              STATUS  MONTHS_BALANCE
SK_ID_BUREAU
5001709            0               0
5001710            0               0
5001711            0               0
5001712            0               0
5001713           -1               0
...              ...             ...
6842884            0               0
6842885            5               0
6842886            0               0
6842887            0               0
6842888            1               0

[817395 rows x 2 columns]

In [36]:
print(bureau.shape)
bureau.head()

(1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [47]:
bureau_joined=bureau.join(bureau_balance_done,how='left',on='SK_ID_BUREAU')

In [49]:
bureau_joined.isnull().sum()

SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE        105553
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_MAX_OVERDUE    1124488
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                 13
AMT_CREDIT_SUM_DEBT        257669
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY               1226791
STATUS                     942074
MONTHS_BALANCE             942074
dtype: int64

In [39]:
bureau_joined.shape

(1716428, 19)

In [48]:
bureau_joined.to_csv("bureau_joined.csv")