In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# import for plotting 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('application_train.csv')

In [4]:
df.columns[df.isnull().any()].shape

(67,)

In [5]:
df.isna().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [188]:
count_nan = (len(df) - df.count())*100/len(df)

In [190]:
count_nan.to_excel("null2.xlsx")

In [189]:
count_nan

SK_ID_CURR                     0.000000
TARGET                         0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
                                ...
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
Length: 122, dtype: float64

In [ ]:
var=count_nan.where()

In [5]:
df.loc[:,["AMT_GOODS_PRICE","AMT_ANNUITY","NAME_TYPE_SUITE","CNT_FAM_MEMBERS","EXT_SOURCE_2","EXT_SOURCE_3"]].describe()

,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,EXT_SOURCE_2,EXT_SOURCE_3
count,3.072330e+05,307499.000000,307509.000000,3.068510e+05,246546.000000
mean,5.383962e+05,27108.573909,2.152665,5.143927e-01,0.510853
std,3.694465e+05,14493.737315,0.910682,1.910602e-01,0.194844
min,4.050000e+04,1615.500000,1.000000,8.173617e-08,0.000527
25%,2.385000e+05,16524.000000,2.000000,3.924574e-01,0.370650
50%,4.500000e+05,24903.000000,2.000000,5.659614e-01,0.535276
75%,6.795000e+05,34596.000000,3.000000,6.636171e-01,0.669057
max,4.050000e+06,258025.500000,20.000000,8.549997e-01,0.896010

In [6]:
df1=df.loc[:,["AMT_GOODS_PRICE","AMT_ANNUITY","NAME_TYPE_SUITE","CNT_FAM_MEMBERS","EXT_SOURCE_2","EXT_SOURCE_3"]]

In [7]:
df1.isna().sum()

AMT_GOODS_PRICE      278
AMT_ANNUITY           12
NAME_TYPE_SUITE     1292
CNT_FAM_MEMBERS        2
EXT_SOURCE_2         660
EXT_SOURCE_3       60965
dtype: int64

In [8]:
df.CNT_FAM_MEMBERS[(df.CNT_FAM_MEMBERS.isnull()) & (df.CNT_CHILDREN==0)] = df.CNT_FAM_MEMBERS[(df.CNT_FAM_MEMBERS.notnull())&(df.CNT_CHILDREN==0)].median()

In [9]:
df.CNT_FAM_MEMBERS.isnull().sum()

0

In [10]:
df.AMT_ANNUITY[(df.AMT_ANNUITY.isnull())]= df.AMT_ANNUITY[(df.AMT_ANNUITY.notnull())].median()

In [11]:
df.AMT_ANNUITY.isnull().sum()

0

In [12]:
df.AMT_ANNUITY[(df.AMT_ANNUITY.isnull())]= df.AMT_ANNUITY[(df.AMT_ANNUITY.notnull())].median()

In [13]:
df.EXT_SOURCE_2[(df.EXT_SOURCE_2.isnull())]= df.EXT_SOURCE_2[(df.EXT_SOURCE_2.notnull())].median()

In [14]:
df.loc[:,["AMT_GOODS_PRICE","AMT_ANNUITY","CNT_FAM_MEMBERS","EXT_SOURCE_2","EXT_SOURCE_3"]].corr()

,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,EXT_SOURCE_2,EXT_SOURCE_3
AMT_GOODS_PRICE,1.000000,0.775098,0.061185,0.139055,0.047717
AMT_ANNUITY,0.775098,1.000000,0.075541,0.125509,0.030755
CNT_FAM_MEMBERS,0.061185,0.075541,1.000000,-0.001832,-0.027964
EXT_SOURCE_2,0.139055,0.125509,-0.001832,1.000000,0.109174
EXT_SOURCE_3,0.047717,0.030755,-0.027964,0.109174,1.000000

In [15]:
df2=df.loc[:,["AMT_GOODS_PRICE","AMT_ANNUITY","CNT_FAM_MEMBERS","EXT_SOURCE_2","EXT_SOURCE_3"]]

In [16]:
X=df2.loc[((df2.AMT_GOODS_PRICE.notnull())&(df2.CNT_FAM_MEMBERS.notnull())&(df2.EXT_SOURCE_2.notnull())
          & (df2.EXT_SOURCE_3.notnull()) & (df2.AMT_ANNUITY.notnull()))]

model=LinearRegression().fit(X.loc[:,["AMT_ANNUITY","CNT_FAM_MEMBERS","EXT_SOURCE_2","EXT_SOURCE_3"]],X.loc[:,'AMT_GOODS_PRICE'])
model.score(X.loc[:,["AMT_ANNUITY","CNT_FAM_MEMBERS","EXT_SOURCE_2","EXT_SOURCE_3"]],X.loc[:,'AMT_GOODS_PRICE'])

0.6062330407229249

In [17]:
preddf=df2.loc[((df2.AMT_ANNUITY.notnull())&(df2.CNT_FAM_MEMBERS.notnull())&(df2.EXT_SOURCE_2.notnull())
          & (df2.EXT_SOURCE_3.notnull()) & (df2.AMT_GOODS_PRICE.isnull()))]

preddf=preddf.loc[:,["AMT_ANNUITY","CNT_FAM_MEMBERS","EXT_SOURCE_2","EXT_SOURCE_3"]]

In [18]:
df.AMT_GOODS_PRICE[(df2.AMT_ANNUITY.notnull())&(df2.CNT_FAM_MEMBERS.notnull())&(df2.EXT_SOURCE_2.notnull())
          & (df2.EXT_SOURCE_3.notnull()) & (df2.AMT_GOODS_PRICE.isnull())] = model.predict(preddf)

In [19]:
df.AMT_GOODS_PRICE[(df.AMT_GOODS_PRICE.isnull())]=df.AMT_GOODS_PRICE[(df.AMT_GOODS_PRICE.notnull())].median()

In [20]:
df['NAME_TYPE_SUITE'].head()

0    Unaccompanied
1           Family
2    Unaccompanied
3    Unaccompanied
4    Unaccompanied
Name: NAME_TYPE_SUITE, dtype: object

In [21]:
pd.crosstab(df['NAME_TYPE_SUITE'], df['NAME_HOUSING_TYPE'],dropna=True)

NAME_HOUSING_TYPE,Co-op apartment,House / apartment,Municipal apartment,Office apartment,Rented apartment,With parents
NAME_TYPE_SUITE,,,,,,
Children,10,2968,148,16,28,97
Family,138,36746,1138,273,466,1388
Group of people,2,233,14,1,3,18
Other_A,6,706,40,7,27,80
Other_B,9,1471,80,22,51,137
"Spouse, partner",25,10238,356,93,172,486
Unaccompanied,923,219357,9371,2191,4116,12568

In [22]:
df['NAME_TYPE_SUITE'].unique()

array(['Unaccompanied', 'Family', 'Spouse, partner', 'Children',
       'Other_A', nan, 'Other_B', 'Group of people'], dtype=object)

In [23]:
df.NAME_TYPE_SUITE[(df.NAME_TYPE_SUITE.isnull())]=df.NAME_TYPE_SUITE[(df.NAME_TYPE_SUITE.notnull())].mode()[0]

In [24]:
df.NAME_TYPE_SUITE[(df.NAME_TYPE_SUITE.notnull())].mode()[0]

'Unaccompanied'

In [25]:
df.AMT_GOODS_PRICE[(df.AMT_GOODS_PRICE.isnull())]=df.AMT_GOODS_PRICE[(df.AMT_GOODS_PRICE.notnull())].median()

In [26]:
df.EXT_SOURCE_3[(df.EXT_SOURCE_3.isnull())]=df.EXT_SOURCE_3[(df.EXT_SOURCE_3.notnull())].median()

In [27]:
df.OBS_30_CNT_SOCIAL_CIRCLE[(df.OBS_30_CNT_SOCIAL_CIRCLE.isnull())]=df.OBS_30_CNT_SOCIAL_CIRCLE[(df.OBS_30_CNT_SOCIAL_CIRCLE.notnull())].mode()[0]

In [28]:
df.DEF_30_CNT_SOCIAL_CIRCLE[(df.DEF_30_CNT_SOCIAL_CIRCLE.isnull())]=df.DEF_30_CNT_SOCIAL_CIRCLE[(df.DEF_30_CNT_SOCIAL_CIRCLE.notnull())].mode()[0]

In [29]:
df.OBS_60_CNT_SOCIAL_CIRCLE[(df.OBS_60_CNT_SOCIAL_CIRCLE.isnull())]=df.OBS_60_CNT_SOCIAL_CIRCLE[(df.OBS_60_CNT_SOCIAL_CIRCLE.notnull())].mode()[0]

In [30]:
df.DEF_60_CNT_SOCIAL_CIRCLE[(df.DEF_60_CNT_SOCIAL_CIRCLE.isnull())]=df.DEF_60_CNT_SOCIAL_CIRCLE[(df.DEF_60_CNT_SOCIAL_CIRCLE.notnull())].mode()[0]

In [31]:
df.DAYS_LAST_PHONE_CHANGE[(df.DAYS_LAST_PHONE_CHANGE.isnull())]=df.DAYS_LAST_PHONE_CHANGE[(df.DAYS_LAST_PHONE_CHANGE.notnull())].mode()[0]

In [32]:
df.AMT_REQ_CREDIT_BUREAU_HOUR[(df.AMT_REQ_CREDIT_BUREAU_HOUR.isnull())]=0
df.AMT_REQ_CREDIT_BUREAU_DAY[(df.AMT_REQ_CREDIT_BUREAU_DAY.isnull())]=0
df.AMT_REQ_CREDIT_BUREAU_WEEK[(df.AMT_REQ_CREDIT_BUREAU_WEEK.isnull())]=0
df.AMT_REQ_CREDIT_BUREAU_MON[(df.AMT_REQ_CREDIT_BUREAU_MON.isnull())]=0
df.AMT_REQ_CREDIT_BUREAU_QRT[(df.AMT_REQ_CREDIT_BUREAU_QRT.isnull())]=0
df.AMT_REQ_CREDIT_BUREAU_YEAR[(df.AMT_REQ_CREDIT_BUREAU_YEAR.isnull())]=0

In [33]:
df = df.loc[:,(df.isnull().sum() < 0.2*df.shape[0])]

In [34]:
df.loc[:,df.isnull().any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[307511 rows x 0 columns]

In [35]:
df.to_csv("train_imputed.csv")

In [205]:
df[df.columns[df.isnull().mean() < 0.2]]

In [207]:
#Segregating the numeric and categorical variable names

numeric_var_names = [key for key in dict(df_done.dtypes) if dict(df_done.dtypes)[key] in ['float64', 'int64', 'float32', 'int32']]
catgorical_var_names = [key for key in dict(df_done.dtypes) if dict(df_done.dtypes)[key] in ['object']]

In [208]:
df_num=pd.DataFrame()
for eachvariable in numeric_var_names:
    df_num[eachvariable]=df_done[eachvariable]

In [209]:
df_num.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [210]:
df_num_x=df_num.copy()

In [211]:
df_num_x.dropna(inplace=True)
df_num_x.isna().sum()

SK_ID_CURR                    0
TARGET                        0
CNT_CHILDREN                  0
AMT_INCOME_TOTAL              0
AMT_CREDIT                    0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 61, dtype: int64

In [212]:
df_num_y=df_num_x['EXT_SOURCE_3']
df_num_x.drop(columns='EXT_SOURCE_3',inplace=True)

In [131]:
from sklearn.preprocessing import scale                           #For scaling the data
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV   #For fitting regularized models and cross validation algo.
from sklearn.metrics import mean_squared_error                    #For validation

In [213]:
#identifying the Best alpha (a.k.a. lambda)

lassocv1=LassoCV()
lassocv1.fit(df_num_x,df_num_y)
lassocv1.alpha_

lasso1=Lasso(alpha=lassocv1.alpha_,normalize=True,fit_intercept=True)
lasso1.fit(df_num_x,df_num_y)

3.438604996973896

Lasso(alpha=3.438604996973896, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=True, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [270]:
preddf=df_num.loc[(df_num.EXT_SOURCE_3.isnull())]

In [239]:
preddf=preddf.drop(columns='EXT_SOURCE_3')

In [218]:
preddf.dropna(inplace=True)

In [219]:
preddf['out']=lasso1.predict(preddf)

In [220]:
preddf.loc[:,['out']].describe()

                out
count  1.934400e+04
mean   5.107740e-01
std    1.629850e-13
min    5.107740e-01
25%    5.107740e-01
50%    5.107740e-01
75%    5.107740e-01
max    5.107740e-01

In [235]:
df_num.loc[5]

SK_ID_CURR                    100008.0
TARGET                             0.0
CNT_CHILDREN                       0.0
AMT_INCOME_TOTAL               99000.0
AMT_CREDIT                    490495.5
                                ...
AMT_REQ_CREDIT_BUREAU_DAY          0.0
AMT_REQ_CREDIT_BUREAU_WEEK         0.0
AMT_REQ_CREDIT_BUREAU_MON          0.0
AMT_REQ_CREDIT_BUREAU_QRT          1.0
AMT_REQ_CREDIT_BUREAU_YEAR         1.0
Name: 5, Length: 61, dtype: float64

In [233]:
df.loc[5]

SK_ID_CURR                        100008
TARGET                                 0
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            M
FLAG_OWN_CAR                           N
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              0
AMT_REQ_CREDIT_BUREAU_QRT              1
AMT_REQ_CREDIT_BUREAU_YEAR             1
Name: 5, Length: 122, dtype: object

In [268]:
xyz=df_num.loc[(df.EXT_SOURCE_3.isnull())].drop(columns='EXT_SOURCE_3').dropna()

In [269]:
xyz.index

Int64Index([     1,      4,     31,     41,     78,     89,     97,    109,
               116,    136,
            ...
            307289, 307307, 307365, 307380, 307385, 307405, 307411, 307421,
            307444, 307467],
           dtype='int64', length=19344)

In [260]:
abc=lasso1.predict(df_num.loc[(df.EXT_SOURCE_3.isnull())].drop(columns='EXT_SOURCE_3').dropna())
abc

array([0.51077401, 0.51077401, 0.51077401, ..., 0.51077401, 0.51077401,
       0.51077401])

In [261]:
len(abc)

19344

In [ ]:
df2['new'] = df2.rename(index=df.set_index('key')['bar']).index

In [ ]:
df.AMT_GOODS_PRICE[(df.AMT_GOODS_PRICE.isnull())]=df.AMT_GOODS_PRICE[(df.AMT_GOODS_PRICE.notnull())].median()

In [ ]:
df.describe(percentiles=[.25,0.5,0.75,0.90,0.95,0.99])

In [2]:
app_train = pd.read_csv('application_train.csv')
app_test = pd.read_csv('application_test.csv')
bureau = pd.read_csv('bureau.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')
pos_cash_balance = pd.read_csv('POS_CASH_balance.csv')

previous_app = pd.read_csv('previous_application.csv')
installments_payments = pd.read_csv('installments_payments.csv')
credit_card_balance = pd.read_csv('credit_card_balance.csv')

In [3]:
# Groupby the client id (SK_ID_CURR), count the number of previous loans, and rename the column
previous_loan_counts = bureau.groupby('SK_ID_CURR', as_index=False)['SK_ID_BUREAU'].count().rename(columns = {'SK_ID_BUREAU': 'previous_loan_counts'})
previous_loan_counts.head()

   SK_ID_CURR  previous_loan_counts
0      100001                     7
1      100002                     8
2      100003                     4
3      100004                     2
4      100005                     3

In [4]:
def normalize_categorical(df, group_var, col_name):
    
    """Computes counts and normalized counts for each observation
    of `group_var` for each unique category in every categorical variable
    
    Parameters 
    ----------
    df - DataFrame for which we will calculate count
    
    group_var  = string
        The variable by which to group the dataframe. For each unique
        value of this variable, the final dataframe will have one row
        
    col_name = string
            Variable added to the front of column names to keep track of columns
            
            """
    # select the categorical columns
    categorical = pd.get_dummies(df.select_dtypes('object'))
    
    # Make sure to put the identifying id on the column
    categorical[group_var] = df[group_var]
    
    # Groupby the group var and calculate the sum and mean
    categorical = categorical.groupby(group_var).agg(['sum', 'mean'])                                              
    
    column_names = []
    
    # Iterate through the columns in level 0
    for var in categorical.columns.levels[0]:
        # Iterate through the stats in level 1
        for stat in ['count', 'count_norm']:
            # Make a new column name
            column_names.append('%s_%s_%s' % (col_name, var, stat))
    
    categorical.columns = column_names
    
    return categorical

In [5]:
bureau_counts = normalize_categorical(bureau, group_var = 'SK_ID_CURR', col_name = 'bureau')
bureau_counts.head()

,bureau_CREDIT_ACTIVE_Active_count,bureau_CREDIT_ACTIVE_Active_count_norm,bureau_CREDIT_ACTIVE_Bad debt_count,bureau_CREDIT_ACTIVE_Bad debt_count_norm,bureau_CREDIT_ACTIVE_Closed_count,bureau_CREDIT_ACTIVE_Closed_count_norm,bureau_CREDIT_ACTIVE_Sold_count,bureau_CREDIT_ACTIVE_Sold_count_norm,bureau_CREDIT_CURRENCY_currency 1_count,bureau_CREDIT_CURRENCY_currency 1_count_norm,...,bureau_CREDIT_TYPE_Microloan_count,bureau_CREDIT_TYPE_Microloan_count_norm,bureau_CREDIT_TYPE_Mobile operator loan_count,bureau_CREDIT_TYPE_Mobile operator loan_count_norm,bureau_CREDIT_TYPE_Mortgage_count,bureau_CREDIT_TYPE_Mortgage_count_norm,bureau_CREDIT_TYPE_Real estate loan_count,bureau_CREDIT_TYPE_Real estate loan_count_norm,bureau_CREDIT_TYPE_Unknown type of loan_count,bureau_CREDIT_TYPE_Unknown type of loan_count_norm
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3,0.428571,0,0.0,4,0.571429,0,0.0,7,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100002,2,0.250000,0,0.0,6,0.750000,0,0.0,8,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100003,1,0.250000,0,0.0,3,0.750000,0,0.0,4,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100004,0,0.000000,0,0.0,2,1.000000,0,0.0,2,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
100005,2,0.666667,0,0.0,1,0.333333,0,0.0,3,1.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [6]:
app_train.shape

(307511, 122)

In [7]:
# Grouping data  so  that we can merge all the files in 1 dataset

data_bureau_agg=bureau.groupby(by='SK_ID_CURR').mean()
data_credit_card_balance_agg=credit_card_balance.groupby(by='SK_ID_CURR').mean()
data_previous_application_agg=previous_app.groupby(by='SK_ID_CURR').mean()
data_installments_payments_agg=installments_payments.groupby(by='SK_ID_CURR').mean()
data_POS_CASH_balance_agg=pos_cash_balance.groupby(by='SK_ID_CURR').mean()

data_bureau_agg.head()

,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
SK_ID_CURR,,,,,,,,,,,,,
100001,5896633.000,-735.000000,0.0,82.428571,-825.500000,NaN,0.0,207623.571429,85240.928571,0.00000,0.0,-93.142857,3545.357143
100002,6153272.125,-874.000000,0.0,-349.000000,-697.500000,1681.029,0.0,108131.945625,49156.200000,7997.14125,0.0,-499.875000,0.000000
100003,5885878.500,-1400.750000,0.0,-544.500000,-1097.333333,0.000,0.0,254350.125000,0.000000,202500.00000,0.0,-816.000000,NaN
100004,6829133.500,-867.000000,0.0,-488.500000,-532.500000,0.000,0.0,94518.900000,0.000000,0.00000,0.0,-532.000000,NaN
100005,6735201.000,-190.666667,0.0,439.333333,-123.000000,0.000,0.0,219042.000000,189469.500000,0.00000,0.0,-54.333333,1420.500000

In [8]:
def merge(df):
    df = df.join(data_bureau_agg, how='left', on='SK_ID_CURR', lsuffix='1', rsuffix='2') 
    df = df.join(bureau_counts, on = 'SK_ID_CURR', how = 'left')
    df = df.merge(previous_loan_counts, on = 'SK_ID_CURR', how = 'left')
    df = df.join(data_credit_card_balance_agg, how='left', on='SK_ID_CURR', lsuffix='1', rsuffix='2')    
    df = df.join(data_previous_application_agg, how='left', on='SK_ID_CURR', lsuffix='1', rsuffix='2')   
    df = df.join(data_installments_payments_agg, how='left', on='SK_ID_CURR', lsuffix='1', rsuffix='2') 
    
    return df

train = merge(app_train)
test = merge(app_test)
display(train.head())

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT1,AMT_ANNUITY1,...,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_PREV,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-25.000000,-17.000000,0.000000,1.038818e+06,1.052632,10.000000,-295.000000,-315.421053,11559.247105,11559.247105
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-1054.333333,-1047.333333,0.666667,2.290070e+06,1.040000,5.080000,-1378.160000,-1385.320000,64754.586000,64754.586000
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-724.000000,-714.000000,0.000000,1.564014e+06,1.333333,2.000000,-754.000000,-761.666667,7096.155000,7096.155000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,182477.500000,182481.750000,0.000000,2.217428e+06,1.125000,4.437500,-252.250000,-271.625000,62947.088438,62947.088438
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,72136.200000,72143.800000,0.600000,2.048985e+06,1.166667,7.045455,-1028.606061,-1032.242424,12666.444545,12214.060227

In [9]:
train.shape

(307511, 230)